{%  load static %}
<html>
<head>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<style type="text/css">
    body {padding-top : 60px;}
</style>
</head>
<body>
 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Music Catalog</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
                <li><a href='/index/all_tracks'>ALL Tracks</a></li>
                <li><a href='/index/all_albums'>ALL Albums</a></li>
                <li><a href='/index/artists'>Artist</a></li>
                <li><a href='/accounts/login'>Login</a></li>
            
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    <div>

    
     </div>
     
     <div>
     {% block mid_site %}
     {% endblock %}
     
     </div>
 <div class="container">
     {% block content %}
     {% endblock %}
 </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>

</html>